<div class="modal-header dialog-header-edit">
  <button type="button" class="confirm close glyphicon glyphicon-remove" ng-click="cancel()"></button>
  <h4 class="modal-title">
    <span translate="{{modalConfig.header}}" class="{{modalConfig.icon}}"></span>
    <!-- {{modalConfig.header}} -->
  </h4>
</div>
<div class="modal-body" ng-include="modalConfig.content">

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" ng-click="ok()">
    {{"ok" | translate}}
  </button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">
    {{"no" | translate}}
  </button>
</div>