@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
.row.row-sticky {
  margin-left: 0;
  margin-right: 0; }
  .row.row-sticky > [class^="col-"] {
    padding-left: 0;
    padding-right: 0; }

.row.row-xs {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }
  .row.row-xs > [class^="col-"] {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

.row.row-sm {
  margin-left: -1rem;
  margin-right: -1rem; }
  .row.row-sm > [class^="col-"] {
    padding-left: 1rem;
    padding-right: 1rem; }

.row.row-md {
  margin-left: -2rem;
  margin-right: -2rem; }
  .row.row-md > [class^="col-"] {
    padding-left: 2rem;
    padding-right: 2rem; }

.row.row-lg {
  margin-left: -4rem;
  margin-right: -4rem; }
  .row.row-lg > [class^="col-"] {
    padding-left: 4rem;
    padding-right: 4rem; }

@media (min-width: 992px) {
  .row-md-5 > [class^="col-"] {
    width: 20%; } }

.container-xs {
  max-width: 300px; }

.container-sm {
  max-width: 520px; }

.container-md {
  max-width: 720px; }

.container-lg {
  max-width: 900px; }

.space-xs {
  margin-bottom: 0.5rem !important; }

.space-1 {
  margin-bottom: 1rem !important; }

.space-2 {
  margin-bottom: 2rem !important; }

.space-3 {
  margin-bottom: 4rem !important; }

.space-4 {
  margin-bottom: 8rem !important; }

.space-top-xs {
  margin-top: 0.5rem !important; }

.space-top-1 {
  margin-top: 1rem !important; }

.space-top-2 {
  margin-top: 2rem !important; }

.space-top-3 {
  margin-top: 4rem !important; }

.space-top-4 {
  margin-top: 8rem !important; }

.visible-phone {
  display: none; }
  @media (max-width: 480px) {
    .visible-phone {
      display: block; } }

.btn-primary {
  background-color: #82C200;
  border-color: #71a900; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #608f00 !important;
    border-color: #4f7600 !important; }

.btn-success {
  background-color: #557090;
  border-color: #4c6480; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #425770 !important;
    border-color: #394b60 !important; }

html {
  min-height: 100% !important; }

body {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto", "微軟正黑體", sans-serif;
  color: #6F757B;
  overflow-x: hidden;
  margin-bottom: 60px !important;
  height: 100vh !important; }
  body:after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s; }
  body.openMobileNav {
    overflow: hidden;
    cursor: pointer; }
    body.openMobileNav:after {
      opacity: 1;
      visibility: visible; }
  body.showEmbedBox {
    overflow: hidden; }
  body .container-fuild {
    min-height: 100% !important; }
  @media (max-width: 767px) {
    body {
      padding-top: 60px; } }

#wrap {
  overflow-x: hidden; }

a {
  color: #ADB9C7;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: #3C3E3F; }
  a:focus, a:visited, a:active {
    outline: 0;
    text-decoration: none; }

button:focus {
  outline: 0; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

.edit ul {
  list-style: initial; }

.edit ol {
  list-style: decimal; }

.dropdown-menu {
  min-width: 120px;
  border: 0;
  border-radius: 0; }
  .dropdown-menu > li > a {
    padding: 8px 24px; }

.table-vertical-middle th, .table-vertical-middle td {
  vertical-align: middle !important; }

@media (min-width: 768px) {
  .column-count-2 {
    column-count: 2;
    column-gap: 48px;
    -moz-column-count: 2;
    -moz-column-gap: 48px;
    -webkit-column-count: 2;
    -webkit-column-gap: 48px; } }

.text-center .img-responsive {
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

.col-sm-6.text-center p {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto; }

.material-icons {
  vertical-align: middle; }
  .material-icons.mi-xs {
    font-size: 14px; }

.form-group {
  margin-bottom: 1.5rem; }
  .form-group.form-group-cols {
    margin-bottom: 0.5rem; }
    .form-group.form-group-cols .row > div {
      margin-bottom: 1rem; }

.form-control {
  height: 36px; }
  .form-control.fc-xs {
    width: 50px; }
  .form-control.fc-sm {
    width: 68px; }
  .form-control.fc-md {
    width: 120px; }

.table {
  background-color: #fff; }
  .table thead tr th {
    border-bottom: 2px solid #F0F0F0 !important; }
  .table.text-center th, .table.text-center td {
    text-align: center; }
  .table.text-center .form-control, .table.text-center .switch {
    margin-left: auto;
    margin-right: auto; }
  .table.vertical-middle th, .table.vertical-middle td, .table.vertical-middle label {
    vertical-align: middle; }
  .table th.vertical-top, .table td.vertical-top {
    vertical-align: top; }
  .table th.text-left, .table td.text-left {
    text-align: left; }
  .table .btn-remove {
    cursor: pointer;
    color: #F0F0F0;
    transition: 0.2s; }
    .table .btn-remove:hover {
      color: #ADB9C7; }
  .table .btn-price-toggle {
    cursor: pointer;
    color: #F0F0F0;
    transition: 0.2s; }
    .table .btn-price-toggle:hover {
      color: #3C3E3F; }
    .table .btn-price-toggle.open {
      transform: rotate(180deg); }
  .table .th-md {
    min-width: 150px; }
  .table .table {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .table.layout-fixed {
      table-layout: fixed; } }

.edit img, .edit iframe {
  max-width: 100%;
  height: auto !important; }

i {
  font-family: "FontAwesome", "font-ecs" !important; }

p {
  margin-bottom: 0 !important; }

label {
  font-weight: 500 !important;
  vertical-align: middle !important;
  line-height: 1 !important; }

.label {
  border-radius: 0; }
  .label.label-md {
    font-size: 15px; }

input, select {
  vertical-align: middle !important; }

.alert {
  position: fixed;
  top: 60px;
  width: 95%;
  left: 5%; }

@media (max-width: 480px) {
  .col-phone-6 {
    width: 50%; } }

.list-inline.list-inline-lg li {
  padding: 0 2rem;
  margin-bottom: 2rem; }

@media (max-width: 767px) {
  .swiper-slide {
    width: 50%; } }

.swiper-button-next,
.swiper-button-prev {
  background-image: none !important; }

.tab-pane {
  padding: 3rem 2rem; }

.alert {
  width: 100% !important;
  position: relative !important;
  top: 0;
  left: 0; }

.form-inline input, .form-inline select {
  margin-bottom: 1rem; }
.form-inline .input-align-middle {
  vertical-align: middle; }
  @media (min-width: 768px) {
    .form-inline .input-align-middle {
      margin-top: -0.8rem; } }
  @media (max-width: 767px) {
    .form-inline .input-align-middle {
      margin-top: auto; } }

.btn {
  font-weight: 300;
  vertical-align: middle !important; }
  .btn i {
    font-size: 16px;
    line-height: 1.4; }
  .btn-sm, .btn-xs {
    font-size: 86% !important; }
    .btn-sm i, .btn-xs i {
      font-size: 92%; }
  .btn-default {
    color: #6F757B; }
  @media (max-width: 767px) {
    .btn-xs-block {
      width: 100%;
      display: block; } }

.top-header {
  background-color: #FFFFFF; }
  @media (max-width: 767px) {
    .top-header {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1040;
      width: 100%;
      border-bottom: 1px solid #F0F0F0; } }
  .top-header .logo-img {
    width: auto;
    height: 2rem;
    margin-top: 1rem; }
    @media (max-width: 767px) {
      .top-header .logo-img {
        margin: atuo;
        height: 1.5rem; } }
  .top-header .nav {
    line-height: 60px;
    cursor: pointer; }
    .top-header .nav:hover, .top-header .nav:focus {
      color: #82C200; }
  .top-header .icon-menu-close {
    visibility: hidden; }

@media (max-width: 767px) {
  .top-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    line-height: 2.5;
    background: #FFFFFF;
    border-top: 1px solid #F0F0F0; } }
.top-menu .top-header {
  position: relative;
  width: 100%; }
.top-menu .CM {
  background: #585a5d;
  color: #FFFFFF;
  line-height: 40px; }
  .top-menu .CM li {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem; }
    @media (max-width: 767px) {
      .top-menu .CM li {
        width: 100%;
        border-bottom: 1px solid #FFFFFF;
        line-height: 3; }
        .top-menu .CM li:last-child {
          border-bottom: 0; } }
  @media (max-width: 767px) {
    .top-menu .CM {
      display: none; } }
  .top-menu .CM .portal-name {
    font-size: 120%; }
  .top-menu .CM p {
    margin-bottom: 0 !important; }
.top-menu .ECS {
  background: #F0F0F0;
  text-align: center;
  color: #a4a8ac; }
  .top-menu .ECS .title {
    color: #82C200;
    font-size: 120%; }
  @media (max-width: 767px) {
    .top-menu .ECS {
      display: block; }
      .top-menu .ECS ul {
        margin: 1.5rem auto; } }
  .top-menu .ECS i {
    font-size: 300%;
    margin-bottom: 1rem;
    color: #82C200;
    line-height: 1.2; }
  .top-menu .ECS a {
    color: #6F757B; }
    .top-menu .ECS a:hover, .top-menu .ECS a:focus, .top-menu .ECS a:active {
      color: #3f4245; }

.navbar-nav .open .dropdown-menu {
  width: 100%; }
.navbar-nav .open a, .navbar-nav .open:hover, .navbar-nav .open:focus {
  border-color: #F0F0F0 !important;
  color: #82C200; }
@media (max-width: 767px) {
  .navbar-nav .open .user-profile {
    border-bottom: 1px solid #F0F0F0; } }
.navbar-nav li {
  text-align: center;
  border-top: 1px solid #F0F0F0;
  line-height: 2.5; }
  .navbar-nav li:first-child {
    border-top: 0; }
  .navbar-nav li a {
    background-color: #FFFFFF !important; }
  @media (max-width: 767px) {
    .navbar-nav li {
      width: auto;
      display: inline-block;
      border: 0; } }

footer {
  position: relative !important;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  background-color: #F0F0F0;
  width: 100%; }
  footer .btn {
    border-radius: 0;
    border: 0;
    padding: .5rem 1rem;
    background-color: #F0F0F0; }
  @media (max-width: 767px) {
    footer {
      text-align: center; } }

.bulk-actions {
  display: none; }

table .countries_list {
  width: 100%; }
  table .countries_list td {
    padding: 0 10px;
    line-height: 30px;
    border-top: 1px solid #eeeeee; }

.dataTables_paginate a {
  padding: 6px 9px !important;
  background: #ddd !important;
  border-color: #ddd !important; }

.dataTable {
  border-bottom: 1px solid #d7d7d7; }
  .dataTable thead {
    /* sort-by-attributes */
    /* sort-by-attributes-alt */
    background: #585a5d;
    color: #FFFFFF; }
    .dataTable thead .sorting:after {
      opacity: .4 !important;
      content: ""; }
    .dataTable thead .sorting_asc:after,
    .dataTable thead .sorting_desc:after,
    .dataTable thead .sorting_asc_disabled:after,
    .dataTable thead .sorting_desc_disabled:after {
      opacity: 1 !important;
      color: #82C200; }
    .dataTable thead .sorting_asc:after {
      content: ""; }
    .dataTable thead .sorting_desc:after {
      content: ""; }
  .dataTable th {
    font-weight: 300 !important;
    font-size: 90%; }

.paging_full_numbers a.paginate_active {
  background-color: rgba(38, 185, 154, 0.59) !important;
  border-color: rgba(38, 185, 154, 0.59) !important;
  font-size: 70% !important; }

button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
  border: 1px solid #E7E7E7 !important;
  background: #E7E7E7 !important;
  box-shadow: none !important; }

table.jambo_table tbody tr:hover td {
  background: rgba(173, 185, 199, 0.65);
  border-top: 1px solid rgba(173, 185, 199, 0.3);
  border-bottom: 1px solid rgba(173, 185, 199, 0.11);
  color: #3C3E3F; }
table.jambo_table tbody tr.selected {
  background: rgba(0, 134, 234, 0.16); }
table.jambo_table tbody tr.selected td {
  border-top: 1px solid rgba(0, 134, 234, 0.4);
  border-bottom: 1px solid rgba(0, 134, 234, 0.4); }

.dataTables_paginate {
  float: righ;
  text-align: right; }
  .dataTables_paginate a {
    background: #6F757B; }
.dataTables_info {
  font-size: 70% !important;
  padding-left: .8rem;
  color: #898f94 !important; }

.dataTables_wrapper {
  position: relative;
  clear: both;
  zoom: 1; }

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #F0F0F0;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white; }
.dataTables_length {
  width: 40%;
  float: left; }
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right; }
.dataTables_info {
  width: 60%;
  float: left; }
.dataTables_paginate {
  float: right;
  text-align: right; }
.dataTables_scroll {
  clear: both; }
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch; }
.dataTables_paginate {
  font-size: 80% !important; }

table.dataTable th.focus, table.dataTable td.focus {
  outline: 2px solid #1ABB9C !important;
  outline-offset: -1px; }

table.display {
  margin: 0 auto;
  clear: both;
  width: 100%; }
  table.display thead th {
    padding: 8px 18px 8px 10px;
    border-bottom: 1px solid #000000;
    font-weight: bold;
    cursor: pointer; }
    table.display thead th:active, table.display thead th:focus {
      outline: none !important; }
  table.display tfoot th {
    padding: 3px 18px 3px 10px;
    border-top: 1px solid #000000;
    font-weight: bold; }
  table.display tr .heading2 td {
    border-bottom: 1px solid #ADB9C7; }
  table.display tr .even.row_selected td {
    background-color: #B0BED9; }
  table.display tr .odd.row_selected td {
    background-color: #9FAFD1; }
  table.display td {
    padding: 3px 10px; }
    table.display td .center {
      text-align: center; }
    table.display td:active, table.display td:focus {
      outline: none !important; }

.top, .bottom, .top .dataTables_info {
  float: none; }

.clear {
  clear: both; }

.dataTables_empty {
  text-align: center; }

.tree .parentLev {
  background-color: #eaedf0 !important; }
.tree .fa-angle-right,
.tree .fa-angle-down {
  color: #47596C;
  margin-right: .5rem; }

tfoot input {
  margin: .5em 0;
  width: 100%;
  color: #444; }
  tfoot input .search_init {
    color: #999; }

td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E; }

td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E; }

.example_alt_pagination,
div.dataTables_info {
  width: 40%; }

.paging_full_numbers {
  width: 400px;
  height: 22px;
  line-height: 22px; }
  .paging_full_numbers a:active {
    outline: none; }
  .paging_full_numbers a:hover {
    text-decoration: none; }
  .paging_full_numbers a .paginate_button, .paging_full_numbers a .paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer; }
  .paging_full_numbers a .paginate_button {
    background-color: #ddd; }
  .paging_full_numbers a .paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important; }
  .paging_full_numbers a .paginate_active {
    background-color: #99B3FF; }

.pagination.pagination-split li {
  display: inline-block;
  margin-right: 3px; }
  .pagination.pagination-split li a {
    border-radius: 4px;
    color: #768399;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

/** jQuery Smart Wizard  */
.form_wizard .stepContainer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem; }

.wizard_horizontal ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0 0 20px; }

.wizard_horizontal ul.wizard_steps li {
  display: table-cell;
  text-align: center; }

.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_horizontal ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ccc;
  top: 20px;
  width: 100%;
  z-index: 4;
  left: 0; }

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
  background: #ADB9C7; }

.wizard_horizontal ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
  background: #34495E;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
  background: #82C200;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li:first-child a:before {
  left: 50%; }

.wizard_horizontal ul.wizard_steps li:last-child a:before {
  right: 50%;
  width: 50%;
  left: auto; }

.wizard_verticle .stepContainer {
  width: 80%;
  float: left;
  padding: 0 10px; }

.actionBar {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 10px 5px;
  text-align: right;
  margin-top: 10px; }

.actionBar .buttonDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.actionBar a {
  margin: 0 3px; }

.wizard_verticle .wizard_content {
  width: 80%;
  float: left;
  padding-left: 20px; }

.wizard_verticle ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 20%;
  float: left;
  margin: 0 0 20px; }

.wizard_verticle ul.wizard_steps li {
  display: list-item;
  text-align: center; }

.wizard_verticle ul.wizard_steps li a {
  height: 80px; }

.wizard_verticle ul.wizard_steps li a:first-child {
  margin-top: 20px; }

.wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_verticle ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 100%;
  background: #ccc;
  top: 20px;
  width: 4px;
  z-index: 4;
  left: 49%; }

.wizard_verticle ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_verticle ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
  background: #34495E;
  color: #fff; }

.wizard_verticle ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
  background: #1ABB9C;
  color: #fff; }

.wizard_verticle ul.wizard_steps li:first-child a:before {
  left: 49%; }

.wizard_verticle ul.wizard_steps li:last-child a:before {
  left: 49%;
  left: auto;
  width: 0; }

.form_wizard .loader {
  display: none; }

.form_wizard .msgBox {
  display: none; }

/** jQuery Smart Wizard  */
.align-right, .form-button-footer {
  text-align: right; }

.col-centered {
  float: none;
  margin: 0 auto; }

.page-container {
  background: #FFFFFF;
  border-top: 1px solid #F0F0F0;
  overflow: auto; }
  .page-container h2 {
    font-weight: 500;
    font-size: 140%;
    color: #5e6368; }

.block-padding {
  padding: 2rem; }

.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px; }

#ecsMenu {
  cursor: pointer; }

.page-title {
  border-bottom: 1px solid #ADB9C7;
  margin-bottom: 1rem; }
  .page-title h3 {
    color: #82C200;
    font-size: 200%;
    line-height: 1.5; }
  .page-title h5 {
    color: #63686e;
    font-size: 120%; }
    .page-title h5 small {
      border-left: 10px solid #F0F0F0;
      padding-left: 1rem;
      margin-left: 2rem; }
      @media (max-width: 767px) {
        .page-title h5 small {
          width: 100%;
          margin-left: 0;
          margin-top: 1rem;
          margin-bottom: 1rem;
          line-height: 1.5;
          display: block; } }
  .page-title .descr-text {
    margin-left: 1.5rem;
    margin-right: 1.5rem; }

.descr-text {
  color: #82C200;
  font-weight: normal; }

.checkbox-list {
  border: 0;
  padding-top: 2rem; }
  .checkbox-list .form-group {
    margin: .5rem; }
  .checkbox-list li {
    list-style: none;
    line-height: 2; }
  .checkbox-list .license-input input[type=text] {
    width: 10rem;
    margin-right: 1rem; }

#wizard h4 {
  color: #82C200;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: .5rem;
  margin-top: 2rem; }
#wizard .descr-text {
  margin-bottom: 4rem !important;
  color: #a4a8ac; }
#wizard .stepContainer {
  height: auto !important; }

.modal .wizard_horizontal ul.wizard_steps {
  margin-bottom: 0 !important; }

.form-button-footer {
  float: left;
  border-top: 1px solid #F0F0F0;
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  display: block; }

.circle {
  text-align: center;
  vertical-align: middle;
  font-weight: 100;
  position: relative; }
  @media (min-width: 992px) {
    .circle {
      width: 100%;
      height: 100%;
      background: #557090;
      color: #FFFFFF;
      border-radius: 50%;
      line-height: 50%; }
      .circle:before {
        content: "";
        display: block; } }
    @media (min-width: 992px) and (max-width: 767px) {
      .circle:before {
        padding-top: 100%; } }
    @media (min-width: 992px) and (min-width: 768px) {
      .circle:before {
        padding-top: 100%; } }

  @media (min-width: 768px) {
    .circle {
      width: 100%;
      height: 100%;
      background: #557090;
      color: #FFFFFF;
      border-radius: 50%;
      line-height: 50%; }
      .circle:before {
        content: "";
        display: block; } }
    @media (min-width: 768px) and (max-width: 767px) {
      .circle:before {
        padding-top: 100%; } }
    @media (min-width: 768px) and (min-width: 768px) {
      .circle:before {
        padding-top: 100%; } }

  @media (max-width: 767px) {
    .circle {
      width: 100%;
      height: 100%;
      background: #557090;
      color: #FFFFFF;
      border-radius: 50%;
      line-height: 50%;
      margin: 1rem; }
      .circle:before {
        content: "";
        display: block; } }
    @media (max-width: 767px) and (max-width: 767px) {
      .circle:before {
        padding-top: 100%; } }
    @media (max-width: 767px) and (min-width: 768px) {
      .circle:before {
        padding-top: 100%; } }

  .circle label {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 50%;
    font-weight: 500;
    display: block;
    padding-bottom: .5rem;
    border-bottom: 1px solid #6e89aa;
    line-height: 1;
    padding-top: -30%;
    width: 90%;
    margin: auto; }
    .circle label small {
      font-weight: 100;
      display: block;
      line-height: 2; }
  .circle .num {
    font-size: 280%;
    position: absolute;
    bottom: 25%;
    left: 5%;
    width: 90%; }
    @media (max-width: 767px) {
      .circle .num {
        font-size: 400%;
        bottom: 30%; } }

.formula-box {
  line-height: 12;
  text-align: center;
  color: #557090; }

.date-period {
  text-align: center; }
  .date-period .panel {
    border: 0; }
    .date-period .panel-heading {
      background: #557090;
      color: #FFFFFF; }
    .date-period .panel-body {
      color: #557090;
      font-weight: 300;
      height: 80px;
      line-height: 1.2; }
      .date-period .panel-body .text-date {
        font-size: 250%; }
      .date-period .panel-body .text-year {
        font-size: 70%; }

.well-summary {
  background: #878b8d;
  border: 1px solid #F0F0F0;
  color: #FFFFFF;
  text-align: center;
  overflow: auto; }
  .well-summary .progress {
    background: #6e7173;
    height: 4rem;
    line-height: 4rem;
    border-radius: 2rem; }
    .well-summary .progress-bar {
      font-size: 150%;
      line-height: 2; }
  .well-summary large {
    font-size: 200%; }
.well-charts {
  background: #f8f8f8;
  border: 1px solid #F0F0F0; }

.chart {
  width: 100%;
  height: auto;
  margin: 2rem auto; }

.search-block {
  padding-top: 1.5rem;
  border-radius: .3rem;
  margin-bottom: 2rem;
  float: left;
  background: #F0F0F0;
  vertical-align: middle !important; }
  .search-block label {
    vertical-align: middle !important; }

.modal-header i {
  font-size: 120%; }
.modal-header-default {
  background-color: #82C200 !important;
  color: #FFFFFF !important; }
.modal-header-danger {
  background-color: #d9534f !important;
  color: #FFFFFF !important; }
