<!-- page content -->
<div class="row col-xs-12 col-lg-10 col-centered">
	<div class="page-title col-xs-12">
		<div class="title_left">
			<h3>訂閱管理</h3>
			<h5>客戶管理 <small>Manage Subscriptions</small></h5>
		</div>
	</div>
	<!--search-->
	<div class="search-block col-xs-12">
		<form class="form-horizontal">
			<div class="form-group col-md-6">
				<label class="col-md-2">Partner</label>
				<div class="col-md-10">
					<select class="form-control">
						<option>WiAdvance</option>
					</select>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-2">Company</label>
				<div class="col-md-10">
					<select class="form-control">
						<option>ALL</option>
					</select>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-2">Type</label>
				<div class="col-md-10">
					<select class="form-control">
						<option>ALL</option>
						<option>License-based</option>
						<option>Usage-based</option>
					</select>
				</div>
			</div>
			<div class="form-group col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search by Company">
					<span class="input-group-btn">
						<button class="btn btn-success"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<!--/search-->
	<!--data grid-->
	<table id="datatable-responsive" class="table tree table-striped dt-responsive nowrap order-column jambo_table bulk_action" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Company</th>
				<th>Subscription #</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>旭傳媒</td>
				<td>1</td>
				<td><a ng-click="goToSubDetail()" class="btn btn-xs btn-primary"><i class="fa fa-file-text-o"></i> Detail</a></td>
			</tr>
			<tr>
				<td>金財通商務科技股份有限公司</td>
				<td>4</td>
				<td><a ng-click="goToSubDetail()" class="btn btn-xs btn-primary"><i class="fa fa-file-text-o"></i> Detail</a></td>
			</tr>
		</tbody>
	</table>
	<!--/data grid-->
</div>
<!--/page content -->
<!-- Datatables -->
<script>
	jQuery(document).ready(function () {
		jQuery('#datatable-responsive').DataTable({
			lengthChange: false,
			searching: false,
			order: false,
			bSort: false
		});
	});
</script>
<!-- /Datatables -->

<script>
	jQuery('input[type=radio]').addClass('flat');
</script>

<script type="text/javascript">
	jQuery('.tree').treegrid();
</script>

