<!-- page content -->

<div class="row col-xs-12 col-lg-10 col-centered">
	<div class="page-title col-xs-12">
		<div class="title_left">
			<h3>Edit Partner</h3>
			<h5>客戶管理 <small>Manage Customer Subscription</small></h5>
		</div>
	</div>
	<!--function button-->
	<div class="col-xs-12">
		<h2>Watermelon <button class="btn btn-default pull-right" data-toggle="modal" data-target="#del-msg"><i class="fa fa-close"></i> Delete</button></h2>
	</div>
	<!--/function button-->
	<!--data content-->
	<div class="col-xs-12">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
			<!--<li role="presentation"><a href="#billing" aria-controls="billing" role="tab" data-toggle="tab">Billing</a></li>
			<li role="presentation"><a href="#subscription" aria-controls="subscription" role="tab" data-toggle="tab">Subscriptions</a></li>-->
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="profile">
				<form class="form-horizontal  form-label-right">
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Customer Type</label>
						<div class="col-sm-10">
							<p>Reseller</p>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Company Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Enter Company Name">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Company Type</label>
						<div class="col-sm-10">
							<select name="" class="form-control">
								<option value="">Manafacture</option>
							</select>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Country / Region<br /><small class="descr-text">What is this?</small></label>
						<div class="col-sm-2">
							<select name="" class="form-control pull-left" disabled>
								<option value="">Taiwan</option>
							</select>
						</div>
						<label class="col-sm-1">State</label>
						<div class="col-sm-2">
							<input type="text" class="form-control">
						</div>
						<label class="col-sm-1">Zipcode</label>
						<div class="col-sm-2">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Address</label>
						<div class="col-sm-10">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Primary Domain Name<br><small class="descr-text">Why can't I change this?</small></label>
						<div class="col-sm-10">
							<div class="input-group">
								<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
								<span class="input-group-addon" id="basic-addon3">.onmicrosoft.com</span>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">TAX ID</label>
						<div class="col-sm-10">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Contact Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label class="col-sm-4">Phone No.</label>
						<div class="col-sm-8">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label class="col-sm-4">Mobile</label>
						<div class="col-sm-8">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">E-mail</label>
						<div class="col-sm-10">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Status</label>
						<div class="col-sm-10">
							<label class="radio-inline"><input type="radio" class="flat" name="Status"> Active</label>
							<label class="radio-inline"><input type="radio" class="flat" name="Status"> Disable</label>
						</div>
					</div>
					<div class="form-button-footer">
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#cancel-msg"><i class="fa fa-chevron-left"></i> Cancel</button>
						<button type="button" class="btn btn-primary" onclick="history.back();"><i class="fa fa-check"></i> Submit</button>
					</div>
				</form>
			</div>

			<!--<div role="tabpanel" class="tab-pane" id="billing">
				<h4>Billing Information <button class="btn btn-default pull-right" data-toggle="modal" data-target="#edit-billing-info"><i class="fa fa-pencil"></i> Edit</button></h4>
				<form class="form-horizontal">
				</form>


				<h4>Billing Config <button class="btn btn-default pull-right" data-toggle="modal" data-target="#add-billing-config"><i class="fa fa-plus"></i> Add</button></h4>

				<table id="datatable-responsive" class="table tree table-striped table-bordered dt-responsive nowrap order-column jambo_table bulk_action" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Billling Type</th>
							<th>Account Date</th>
							<th>Billing Date</th>
							<th>Billing Period</th>
							<th>Billing Currency</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#edit-keystore"><i class="fa fa-pencil"></i> Edit</a></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#edit-keystore"><i class="fa fa-pencil"></i> Edit</a></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#edit-keystore"><i class="fa fa-pencil"></i> Edit</a></td>
						</tr>
					</tbody>
				</table>

			</div>-->

			<div role="tabpanel" class="tab-pane" id="subscription">
				<div class="row col-xs-12">
					<button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add Subscription</button>
				</div>
				<!--data grid-->
				<h4>License-based Subcriptions</h4>
				<table id="datatable-responsive" class="table tree table-striped dt-responsive nowrap order-column jambo_table bulk_action" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Subcription</th>
							<th>Subcription ID</th>
							<th>Quantity</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Office 365 Enterprise E5</td>
							<td></td>
							<td>5 Licenses</td>
							<td>Auto renew on 7/8/18</td>
							<td><a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#license-base-detail"><i class="fa fa-file-text-o"></i> Detail</a></td>
						</tr>
					</tbody>
				</table>

				<h4>Usage-based Subcriptions</h4>
				<table id="datatable-responsive2" class="table tree table-striped dt-responsive nowrap order-column jambo_table bulk_action" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Subcription</th>
							<th>Subcription ID</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Microsoft Azure</td>
							<td></td>
							<td>Active</td>
							<td><a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#usage-base-detail"><i class="fa fa-file-text-o"></i> Detail</a></td>
						</tr>
					</tbody>
				</table>
				<!--/data grid-->
			</div>
		</div>

	</div>
	<!--/data content-->
</div>
<!--/page content -->
<!--modal-->
<div class="modal fade" id="del-msg" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header-danger">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i> Delete</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this company?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-chevron-left"></i> Cancel</button>
				<button type="button" class="btn btn-danger" ng-click="goToCust();"><i class="fa fa-check"></i> OK</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit-billing-info" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Billing Info</h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#cancel-msg"><i class="fa fa-chevron-left"></i> Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Save</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="license-base-detail" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">訂閱詳情</h4>
			</div>
			<div class="modal-body">
				<h3>金財通商務科技股份有限公司</h3>
				<h3>Office 365 Enterprise E5</h3>
				<p>Subscription ID: FD11C314-D8A2-43C7-960D-EB7EFB68D939</p>
				<h4>Details</h4>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2">Subscription Nickname</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" value="Microsoft Azure">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Status</label>
						<div class="col-sm-10">
							<label class="col-sm-6"><input type="radio" name="license-status" class="flat"> Active <p class="descr-text">Renew on Wednesday, August 15, 2018</p></label>
							<label class="col-sm-6"><input type="radio" name="license-status" class="flat"> Suspend</label>
						</div>
					</div>
					<div class="form-group form-inline">
						<label class="col-sm-2">Quantity</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" value="1"> License
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
				<button type="button" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="usage-base-detail" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">訂閱詳情</h4>
			</div>
			<div class="modal-body">
				<h3>金財通商務科技股份有限公司</h3>
				<h3>Microsoft Azure</h3>
				<p>Subscription ID: FD11C314-D8A2-43C7-960D-EB7EFB68D939</p>
				<h4>Details</h4>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2">Subscription Nickname</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" value="Microsoft Azure">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Status</label>
						<div class="col-sm-10">
							<label class="col-sm-6"><input type="radio" name="license-status" class="flat"> Active <p class="descr-text">Renew on Wednesday, August 15, 2018</p></label>
							<label class="col-sm-6"><input type="radio" name="license-status" class="flat"> Suspend</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Quantity</label>
						<div class="col-sm-10">
							<p>Usage-based</p>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
				<button type="button" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="cancel-msg" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header-danger">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i> Cancel</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to abandon your edits?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-chevron-left"></i> Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="goToCust();"><i class="fa fa-check"></i> OK</button>
			</div>
		</div>
	</div>
</div>
<!--/modal-->
