<!-- page content -->
<div class="row col-xs-12 col-lg-10 col-centered">
	<!--page title-->
	<div class="page-title col-xs-12">
		<div class="title_left">
			<h3>Add Reseller/Partner</h3>
			<h5>客戶管理 <small>You're just a few steps from creating a Reseller / Partner.</small></h5>
		</div>
	</div>
	<!--/page title-->
	<!--data content-->
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">
					<!-- Smart Wizard -->
					<div id="wizard" class="form_wizard wizard_horizontal">
						<ul class="wizard_steps">
							<li>
								<a href="#step-1">
									<span class="step_no">1</span>
									<span class="step_descr">
										Step 1<br />
										<small>Profile</small>
									</span>
								</a>
							</li>
							<li>
								<a href="#step-2">
									<span class="step_no">2</span>
									<span class="step_descr">
										Step 2<br />
										<small>Admin Permission</small>
									</span>
								</a>
							</li>
							<li>
								<a href="#step-3">
									<span class="step_no">3</span>
									<span class="step_descr">
										Step 3<br />
										<small>Keystore</small>
									</span>
								</a>
							</li>
						</ul>
						<!--step1-->
						<div id="step-1">
							<h2 class="StepTitle">Step 1. Profile</h2>
							<p class="descr-text">description...</p>
							<form class="form-horizontal  form-label-right">
								<div class="form-group col-sm-12">
									<label class="col-sm-2">Company Type</label>
									<div class="col-sm-10">
										<select name="" class="form-control">
											<option value="">Reseller</option>
										</select>
									</div>
								</div>
								<div class="form-group col-sm-12">
									<label class="col-sm-2">Company Name</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Enter Company Name">
									</div>
								</div>
								<div class="form-group col-sm-12">
									<label class="col-sm-2">Country / Region</label>
									<div class="col-sm-2">
										<select name="" class="form-control pull-left" disabled>
											<option value="">Taiwan</option>
										</select>
									</div>
									<label class="col-sm-1">State</label>
									<div class="col-sm-2">
										<input type="text" class="form-control">
									</div>
									<label class="col-sm-1">Zipcode</label>
									<div class="col-sm-2">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-12">
									<label class="col-sm-2">Address</label>
									<div class="col-sm-10">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-12">
									<label class="col-sm-2">Tax ID</label>
									<div class="col-sm-10">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-12">
									<label class="col-sm-2">Primary Domain Name</label>
									<div class="col-sm-10">
										<div class="input-group">
											<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
											<span class="input-group-addon" id="basic-addon3">.onmicrosoft.com</span>
										</div>
									</div>
								</div>
								<div class="form-group col-sm-12">
									<label class="col-sm-2">Contact Name</label>
									<div class="col-sm-10">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4">Phone No.</label>
									<div class="col-sm-8">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label class="col-sm-4">Mobile</label>
									<div class="col-sm-8">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-12">
									<label class="col-sm-2">E-mail</label>
									<div class="col-sm-10">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="form-group col-sm-12">
									<label class="col-sm-2">Status</label>
									<div class="col-sm-10">
										<label class="radio-inline"><input type="radio" class="flat" name="Status"> Active</label>
										<label class="radio-inline"><input type="radio" class="flat" name="Status"> Disable</label>
									</div>
								</div>
							</form>
						</div>
						<!--step2-->
						<div id="step-2">
							<h2 class="StepTitle">Step 2. Admin Permission</h2>
							<p class="descr-text">description...</p>
							<form class="form-horizontal form-label-right">
								<div class="form-group">
									<label class="control-label col-sm-2">Company Name</label>
									<div class="col-sm-10">
										<p>Waremelon</p>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">Name</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" value="Messina Cake">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">Email</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" value="admin@onmicrosoft.com">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">Role</label>
									<div class="col-sm-10">
										<p>Partner Admin</p>
									</div>
								</div>
							</form>
						</div>
						<!--step3-->
						<div id="step-3">
							<h2 class="StepTitle">Step 3. Keystore</h2>
							<p class="descr-text">description...</p>
							<div class="form-group">
								<label class="control-label col-sm-2">Customer Type</label>
								<div class="col-sm-10">
									<label class="radio-inline"><input type="radio" class="flat" name="customerType"> CSP</label>
									<label class="radio-inline"><input type="radio" class="flat" name="customerType"> EA</label>
									<label class="radio-inline"><input type="radio" class="flat" name="customerType"> OPEN</label>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<label class="control-label col-sm-2">Client ID</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="ffff">
								</div>
							</div>
							<div class="form-group col-sm-12">
								<label class="control-label col-sm-2">Client Secret</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" value="ffff">
								</div>
							</div>
							<div class="form-group col-sm-12">
								<label class="col-sm-2">Status</label>
								<div class="col-sm-10">
									<label class="radio-inline"><input type="radio" class="flat" name="Status"> Active</label>
									<label class="radio-inline"><input type="radio" class="flat" name="Status"> Disable</label>
								</div>
							</div>
						</div>
					</div>
					<!-- End SmartWizard -->
				</div>
			</div>
		</div>
	</div>
	<!--/data content-->
</div>
<!--/page content -->
<!--modal-->
<div class="modal fade" id="cancel-msg" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header modal-header-danger">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i> Cancel</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to abandon your edits?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-chevron-left"></i> Cancel</button>
				<button type="button" class="btn btn-danger" ng-click="goToCust();"><i class="fa fa-check"></i> OK</button>
			</div>
		</div>
	</div>
</div>
<!--/modal-->

